#:schema node_modules/wrangler/config-schema.json
name = "serverless-pooling-cloudflare-prisma"
main = "src/index.ts"
compatibility_date = "2024-11-06"
compatibility_flags = ["nodejs_compat"]

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

# Environment Variables (Connection Pool API URL for Prisma)
[vars]
# Replace <YOUR_POOLING_API_URL> with the actual Prisma connection pooling URL.
DATABASE_URL = "prisma://<YOUR_POOLING_API_URL>"
